
<div class="container">
  <div class="jumbotron">
    <h1>Discover Best News Ever</h1>
    <p class="lead">Best News Ever</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">News</a></p>
  </div>
</div>
